$colorPrimary: #0a9efc;
$colorPrimary-1: #e6f9ff;
$colorPrimary-2: #adebff;
$colorPrimary-3: #85dcff;
$colorPrimary-4: #5ccbff;
$colorPrimary-5: #33b8ff;
$colorPrimary-7: #007dd6;
$colorPrimary-8: #0061b0;
$colorPrimary-9: #00478a;
$colorPrimary-10: #003063;